{% extends 'baseB.html.twig' %}
 
{% block title %}Mot de passe oublié{% endblock %}
 
{% block body %}
<div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
                     <div class="col-lg-6">
                         <div class="info d-flex align-items-center">
                            <div class="content">
                                   <form method="post" class="form-validate">
                                       <h1>Mot de passe oublié</h1>
    
                                 
                             
                             </div>
                        </div>
                 </div>

                <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                             <div class="form">
                                  
                                          
                                          {{ form(emailForm) }}
                                       
                                    
                                        <div>
                                            <button class="btn btn-lg btn-primary" type="submit">
                                                Envoyer
                                            </button>
                                        </div>

                                 
                           </div> 
                                 
                             </div>
                         </div>
                 </div>
                 </form>
            </div>
        </div>
    </div>
{% endblock %}