{% extends 'baseB.html.twig' %}
 
{% block title %}Nouveau mot de passe{% endblock %}
 
{% block body %}

<div class="page login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h2>Réinitialisation du mot de passe</h2>
                                </div>
                                <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                  
                                    

                                      <form method="post" class="form-validate">
                                        <div class="form-group">
                                           <label for="inputPassword">Password</label>
                                        
                                           <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" class="form-control" required>
                                           <input type="hidden" name="token" value="{{ token }}">


                                           <div>
                                             <button class="btn btn-lg btn-primary" type="submit" id="valider"> Valider  </button> 
                                            </div>
                                        
                                          </div>
  
                                       </form>
                                       
                            </div>
                        </div>
                    </div>
{% endblock %}
