


    {% block body %}
        {% for message in app.flashes('message') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <div class="container">
            <div class="form">

                {{ form_start(contactForm) }}
                {% for message in app.flashes('message') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}




                </div>

                {{ form_end(contactForm) }}
            </div>
        </div>
        </body>
    {% endblock %}