<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block titre %} Calender Planning {% endblock %}
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.5.1/main.min.css"
              integrity="sha256-LOn2s1oZo044zPt6G3x2mGJnhtfXp6ZE1skHztfqnA8=" crossorigin="anonymous">
        {% block stylesheets %}
            <link ref="stylesheet" href="{{ asset('assets/datepicker/datepicker.css') }}" />
        {% endblock %}

    </head>
    <body>
    {% block body %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.5.1/main.min.js"
            integrity="sha256-9puLsDK3mkUV8FSsGLlSRT+uJogUINfaCq56mzSUP/w=" crossorigin="anonymous"></script>

    {% block javascripts %}{% endblock %}
    </body>
</html>