{% extends 'baseB.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}


    {{ include('users/_form.html.twig') }}

    <a href="{{ path('users_index') }}"> Retourner à la liste</a>
{% endblock %}
